html {
  font-size: 62.5%;
  background-color: #181818;
}

body {
  font-size: 1.6rem;
  font-family: "Gotham", sans-serif;
  font-weight: normal;
  margin: 0;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container, #nav .navInner {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .container, #nav .navInner {
    padding: 0 4rem;
  }
}
@media (max-width: 1023px) {
  .container, #nav .navInner {
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .container, #nav .navInner {
    padding: 0 2rem;
  }
}

#nav {
  background-color: #303030;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#nav .logo {
  background: url("../img/logo-w.svg") no-repeat center center;
  width: 18px;
  height: 100%;
}
#nav .navInner {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 38px;
}
#nav .navInner a {
  padding: 10px;
}