html {
  font-size: 62.5%;
  background-color: #181818;
}

body {
  font-size: 1.6rem;
  font-family: "Gotham", sans-serif;
  font-weight: 350;
  margin: 0;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 2.3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1520px) and (min-width: 1260px) {
  .container {
    padding: 0 4rem;
  }
}
@media (max-width: 1250px) {
  .container {
    max-width: 1440px;
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 2rem;
  }
}

.title {
  font-size: 5rem;
  font-weight: 350;
  word-wrap: break-word;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 4rem;
  }
}
@media all and (max-width: 767px) {
  .title {
    font-size: 3rem;
  }
}

.subTitle {
  font-size: 3.6rem;
  font-weight: 350;
  word-wrap: break-word;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subTitle {
    font-size: 3.3rem;
  }
}
@media all and (max-width: 767px) {
  .subTitle {
    font-size: 3rem;
  }
}

.subTitle-25 {
  font-size: 2.5rem;
  font-weight: 350;
  word-wrap: break-word;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subTitle-25 {
    font-size: 2.3rem;
  }
}
@media all and (max-width: 767px) {
  .subTitle-25 {
    font-size: 2rem;
  }
}

.bodyG {
  font-weight: 300;
  color: #aaa;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bodyG {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 767px) {
  .bodyG {
    font-size: 1.2rem;
  }
}

.mobile-br {
  display: none;
}
@media (max-width: 768px) {
  .mobile-br {
    display: inline;
  }
}

.tablet-br {
  display: none;
}
@media (max-width: 1440px) {
  .tablet-br {
    display: inline;
  }
}

.title {
  margin-bottom: 48px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    margin-bottom: 40px;
  }
}
@media all and (max-width: 767px) {
  .title {
    margin-bottom: 30px;
  }
}

span {
  font-size: 1.8rem;
  font-weight: 350;
  word-wrap: break-word;
  color: #aaa;
}
@media (min-width: 768px) and (max-width: 1023px) {
  span {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  span {
    font-size: 1.2rem;
  }
}

p {
  font-size: 2.5rem;
  font-weight: 350;
  word-wrap: break-word;
  padding-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 2.3rem;
  }
}
@media all and (max-width: 767px) {
  p {
    font-size: 2rem;
  }
}

#hearo {
  position: relative;
  width: 100%;
  height: 100vh;
}
#hearo .title {
  margin: 0 auto;
}
#hearo .hearoText {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
}
#hearo .hearoText .logo {
  width: 4.5rem;
  height: 100%;
  margin-top: 24px;
}
#hearo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  #driverContainer .Principal {
    height: 47rem;
  }
}
#driverContainer .driver #card {
  background: inherit;
  width: 100%;
  height: 57rem;
  position: relative;
  flex: 1;
}
#driverContainer .driver #card .cardImg {
  left: auto;
  transform: none;
}
@media (max-width: 767px) {
  #driverContainer .driver #card .cardImg {
    left: 50%;
    transform: translateX(-50%);
  }
}
#driverContainer .driver #card img {
  position: absolute;
  width: auto;
  top: auto;
}

.mt {
  margin-top: 6rem;
}

#Season {
  margin: 0 auto 250px auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  #Season {
    margin: 0 auto 150px auto;
  }
}
@media all and (max-width: 767px) {
  #Season {
    margin: 0 auto 80px auto;
  }
}
#Season .seasonInner {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
@media (max-width: 767px) {
  #Season .seasonInner {
    gap: 4rem;
  }
}

.SeasonL {
  flex: 1;
}
.SeasonL ul .innerText {
  display: flex;
  padding-top: 2.4rem;
}
.SeasonL ul .innerText:first-child, .SeasonL ul .innerText:nth-child(5), .SeasonL ul .innerText:last-child {
  padding: 2.4rem 0;
  border-bottom: 1px solid #747474;
}
.SeasonL ul .innerText div:first-child {
  width: 50%;
}

.SeasonR {
  background-color: #303030;
  padding: 4.8rem;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.SeasonR ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #747474;
}
.SeasonR ul li p {
  padding: 3rem 0;
}

#profile {
  margin: 0 auto 250px auto;
}
@media (min-width: 768px) and (max-width: 1440px) {
  #profile {
    margin: 0 auto 150px auto;
  }
}
@media all and (max-width: 767px) {
  #profile {
    margin: 0 auto 80px auto;
  }
}
#profile .profileInner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#profile ul {
  flex: 1;
}
#profile ul li {
  display: flex;
  padding-top: 24px;
}
#profile ul li div {
  width: 50%;
}
@media (max-width: 767px) {
  #profile ul li:nth-child(2n) {
    border-bottom: 1px solid #747474;
    padding: 28px 0;
  }
}