html {
  font-size: 62.5%;
  background-color: #181818;
}

body {
  font-size: 1.6rem;
  font-family: "Gotham", sans-serif;
  font-weight: 350;
  margin: 0;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 2.3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1520px) and (min-width: 1260px) {
  .container {
    padding: 0 4rem;
  }
}
@media (max-width: 1250px) {
  .container {
    max-width: 1440px;
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 2rem;
  }
}