@use "./var.scss" as v;
@use "./common.scss";


/* DISCOVER 버튼 */
  .discover-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include v.m-body;

    .circle {
      position: relative;
      @include v.circle-progress(40px, 2);

      // + 아이콘
      &::after {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: v.$white;
        font-size: 2rem;
        font-weight: 400;
      }
    }

    // hover 효과
    &:hover .progress {
      stroke-dashoffset: 0;
    }
  }


/* Hero 영역 */
#hearo {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroSwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;

    /* 세로 영상 → 가로화면 채우기 */
    width: 100vh;
    height: 100vw;

    transform: translate(-50%, -50%) rotate(90deg); 
    transform-origin: center center;

    object-fit: cover;
    
    @media (max-width: 767px){
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%); // rotate 제거
      object-fit: cover; 
    }
  }


  .innerText {
    position: absolute;
    top: 80%;
    z-index: 2;
    text-align: center;
    width: 100%;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;

    @media (max-width: 1250px){
      top: 76%;
    }

    h3 {
      margin-bottom: 2.5rem;

      opacity: 0;
      transform: translateY(2rem);
      transition: all 0.8s ease;

      @media (max-width:767px){
        margin-bottom: 1.5rem;
      }
    }
    .discover-btn {
      opacity: 0;
      transform: translateY(2rem);
      transition: all 0.8s ease 0.3s; // 버튼은 약간 지연
    }

    &.animate {
    opacity: 1;
    transform: translateY(0);

      h3 {
        opacity: 1;
        transform: translateY(0);
      }

      .discover-btn {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* Swiper 페이지네이션 */
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 2.5rem 0;
}

.swiper-pagination-clickable{

  .swiper-pagination-bullet {
  position: relative;
  background: v.$white !important; // 비활성 흰색
  opacity: 1 !important;
  width: 100%;


  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  // 공통 원형 mixin 재사용
  @include v.circle-progress(1rem, 3);

    &.swiper-pagination-bullet-active {
      background: transparent !important;
      @include v.circle-progress(2.2rem, 3);
    }
  }
}


// full
#full{
  width: 100%;
  height: 100%;

  .fullInner{
    position: relative;

    .fullTitle{
      @include v.max-title();
      position: absolute;
      top: 15%;
      right: 10%;
      text-align: right;

    }

    .right{
      left: 10%;
      text-align: left;
    }
    
    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center; // 기본값: 중앙
    }
  }
}

@media (max-width: 767px) {
  #full {
    .fullInner{
      .img-position {
        object-position: 70% center; // 70%면 오른쪽으로 치우쳐짐
      }
    }
  } 
}




// SF-25 풀 컨텐츠
#SF-25 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .sfText {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    gap: 3.5rem;
    width: 1520px;
    align-items: flex-end;
    margin: 0 auto;

    p {
      position: relative;
      cursor: pointer;
      @include v.sub-title-25();

      // 밑줄 애니메이션
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background: v.$point-color;
        transition: width 0.4s ease;
      }

      &:hover, &.active {
        color: v.$point-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

.sfImage {
  position: absolute;
  inset: 0;
  background: url("../img/SF-25/1.jpg") center/cover no-repeat;
  transition: background-image 0.6s ease-in-out;
  z-index: 1;
  }
}

// sf-25 t
@media (max-width: 1520px) {
  #SF-25{
    .sfText{
      padding: 5rem;
      gap: 2.5rem;
    }
  }
}

// sf-25 mo
@media (max-width: 767px) {
  #SF-25{
    height: 55rem;
    .sfText{
      padding: 3rem;
      gap: 2rem;
    }
  }
}


// 레이스 일정
#race {
  @include v.pc-m();

  .title{
    @include v.title-mb();
  }

  .raceSwiper {
    overflow: hidden;
  }

  .race-card {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 44.5rem;
      object-fit: cover;
      display: block;

      @media (max-width:1440px){
        height: 35rem;
      }

      @media (max-width:767px){
        height: 21.5rem;
      }
    }

      &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 0%,  /* 하단은 진한 검정 */
        rgba(0, 0, 0, 0) 40%    /* 위로 갈수록 투명 */
      );
      z-index: 1;
    }

    .race-info {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      font-size: 1.4rem;
      z-index: 2;

      .country {
        @include v.sub-title-30();
        padding-bottom: 8px;
      }
      .date {
        font-size: 2rem;
      }
    }
  }
}



