$black1: #181818;
$black2: #303030;

$white: #fff; 
$gray: #aaa;
$gray2: #747474;

// 포인트 컬러
$point-color: #d40000; 

// 컨테이너 사이(위아래) 마진
@mixin pc-m(){
  margin: 250px auto;

  @media (min-width: 768px) and (max-width: 1440px){
      margin: 150px auto;
  }
  @media all and (max-width: 767px){
      margin: 80px auto;
  }
}

@mixin pc-mb(){
  margin: 0 auto 250px auto;

  @media (min-width: 768px) and (max-width: 1440px){
      margin: 0 auto 150px auto;
  }
  @media all and (max-width: 767px){
      margin: 0 auto 80px auto;
  }
}

// 타이틀, 컨텐츠 사이 여백
@mixin title-mb(){
  margin-bottom: 48px;
  
  @media (min-width: 768px) and (max-width: 1023px){
      margin-bottom: 40px;
  }
  @media all and (max-width: 767px){
      margin-bottom: 30px;
  }
}


// 타이틀 , 텍스트
@mixin max-title(){
  font-size: 7rem;
  font-weight: 350;
  word-wrap: break-word;

  @media (min-width: 768px) and (max-width: 1023px){
    font-size: 5rem;
  }
  @media all and (max-width: 767px){
    font-size: 3.6rem;
  }
}

@mixin title(){
  font-size: 5rem;
  font-weight: 350;
  word-wrap: break-word;

  @media (min-width: 768px) and (max-width: 1023px){
    font-size: 4rem;
  }
  @media all and (max-width: 767px){
    font-size: 3rem;
  }
}

@mixin sub-title-36(){
  font-size: 3.6rem;
  font-weight: 350;
  word-wrap: break-word;

  @media (min-width: 768px) and (max-width: 1023px){
    font-size: 3.3rem;
  }
  @media all and (max-width: 767px){
    font-size: 3rem;
  }
}

@mixin sub-title-30(){
  font-size: 3rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin sub-title-25(){
  font-size: 2.5rem;
  font-weight: 350;
  word-wrap: break-word;

  @media (min-width: 768px) and (max-width: 1023px){
    font-size: 2.3rem;
  }
  @media all and (max-width: 767px){
    font-size: 2rem;
  }
}

@mixin m-body(){
  font-size: 1.8rem;
  font-weight: 350;
  word-wrap: break-word;

  @media (min-width: 768px) and (max-width: 1023px){
    font-size: 1.5rem;
  }
  @media all and (max-width: 767px){
    font-size: 1.2rem;
  }
}


// _circle.scss
@mixin circle-progress($size: 36px, $stroke: 2, $color: $point-color, $bg: $gray, $duration: 0.7s) {
  width: $size;
  height: $size;

  svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); // 위쪽에서 시작
  }

  .bg {
    fill: none;
    stroke: $bg;
    stroke-width: $stroke;
  }

  .progress {
    fill: none;
    stroke: $color;
    stroke-width: $stroke;
    stroke-dasharray: 100;
    stroke-dashoffset: 100; // 시작은 비어있음
    transition: stroke-dashoffset $duration linear;
  }
  
}



