$black1: #181818;
$black2: #303030;

$white: #fff; 
$gray: #aaa;

// 포인트 컬러
$point-color: #d40000; 


html {
  font-size: 62.5%; // 1rem = 10px 설정
  background-color: $black1;

  @media (max-width: 1440px) {
    font-size: 58%; // 1rem = 9.3px 정도
  }

  @media (max-width: 767px) {
    font-size: 37.5%; // 1rem = 6px
  }
}

body {
  font-size: 1.6rem; // 기본 폰트 크기 16px
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin: 0;
  color: $white;

  @media (min-width: 768px) and (max-width: 1440px){
      font-size: 1.6rem;
  }
  @media all and (max-width: 767px){
      font-size: 2.3rem;
  }

}

a{
    text-decoration: none;
    color: inherit;
}

// 컨테이너 사이(위아래) 마진
@mixin pc-m(){
  margin: 250px auto;

  @media (min-width: 768px) and (max-width: 1440px){
      margin: 150px auto;
  }
  @media all and (max-width: 767px){
      margin: 80px auto;
  }
}

// 타이틀, 컨텐츠 사이 여백
@mixin title-mb(){
  margin-bottom: 48px;
  
  @media (min-width: 768px) and (max-width: 1023px){
      margin-bottom: 40px;
  }
  @media all and (max-width: 767px){
      margin-bottom: 30px;
  }
}

//공통 컨텐츠 너비
.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  // // 1439px ~ 1024px 범위에 적용
  // @media (max-width: 1439px) and (min-width: 1024px) {
  //   padding: 0 4rem;
  // }

  // 1440px ~ 768px 범위에 적용
  @media (max-width: 1440px) {
    max-width: 1440px;
    padding: 0 3rem;
  }

  // 767px 이하에 적용
  @media (max-width: 767px) {
    max-width: 767px;
    padding: 0 2rem;
  }

}

// 타이틀 , 텍스트
@mixin max-title(){
  font-size: 7rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin title(){
  font-size: 5rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin sub-title-36(){
  font-size: 3.6rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin sub-title-25(){
  font-size: 2.5rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin sub-title-30(){
  font-size: 3rem;
  font-weight: 350;
  word-wrap: break-word;
}

@mixin m-body(){
  font-size: 1.8rem;
  font-weight: 350;
  word-wrap: break-word;
}


// _circle.scss
@mixin circle-progress($size: 36px, $stroke: 2, $color: $point-color, $bg: $gray, $duration: 0.7s) {
  width: $size;
  height: $size;

  svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); // 위쪽에서 시작
  }

  .bg {
    fill: none;
    stroke: $bg;
    stroke-width: $stroke;
  }

  .progress {
    fill: none;
    stroke: $color;
    stroke-width: $stroke;
    stroke-dasharray: 100;
    stroke-dashoffset: 100; // 시작은 비어있음
    transition: stroke-dashoffset $duration linear;
  }
  
}



